<!-- Entry point for using RealSense devices -->
<launch>
  <arg name="sim"     default="false" />
  <arg name="bagfile" default="realsense_on_baxter" />

  <arg name="serial_no"         default="" />
  <arg name="mode"              default="manual" />
  <arg name="color_height"      default="1080" />
  <arg name="color_width"       default="1920" />
  <arg name="depth_height"      default="480" />
  <arg name="depth_width"       default="640" />
  <arg name="enable_depth"      default="true" />
  <arg name="enable_color"      default="true" />
  <arg name="enable_pointcloud" default="false" />
  <arg name="enable_rgbd"       default="false" />
  <arg name="enable_tf"         default="true" />
  <arg name="depth_fps"         default="30" />
  <arg name="color_fps"         default="30" />	
  <arg name="camera"            default="SR300" />
  
  <param name="use_sime_time" value="$(arg sim)" />

  <node unless="$(arg sim)" pkg="nodelet" type="nodelet" name="standalone_nodelet" 
        args="manager" output="screen"/>
	
  <node unless="$(arg sim)" pkg="nodelet" type="nodelet" name="RealsenseNodelet"
      args="load realsense_camera/RealsenseNodelet standalone_nodelet">
      <param name="serial_no"         type="str"  value="$(arg serial_no)" />
      <param name="mode"              type="str"  value="$(arg mode)" />
      <param name="enable_depth"      type="bool" value="$(arg enable_depth)" />
      <param name="enable_color"      type="bool" value="$(arg enable_color)" />
      <param name="enable_pointcloud" type="bool" value="$(arg enable_pointcloud)" />
      <param name="enable_rgbd"       type="bool" value="$(arg enable_rgbd)" />
      <param name="enable_tf"         type="bool" value="$(arg enable_tf)" />
      <param name="depth_width"       type="int"  value="$(arg depth_width)" />
      <param name="depth_height"      type="int"  value="$(arg depth_height)" />
      <param name="color_width"       type="int"  value="$(arg color_width)" />
      <param name="color_height"      type="int"  value="$(arg color_height)" />
      <param name="depth_fps"         type="int"  value="$(arg depth_fps)" />
      <param name="color_fps"         type="int"  value="$(arg color_fps)" />
      <param name="camera"            type="str"  value="$(arg camera)" />
      <param name="color_saturation"  type="int"  value="43" />
  </node>
  
  <node if="$(arg sim)" pkg="rosbag" type="play" name="player" output="screen"
        args="--clock -l $(find realsense_camera)/bags/realsense_on_baxter.bag"/>
</launch>
